/*Borders for all tables and headers*/
table, th { border: 1px solid black; }
form { border: 3px solid; padding: 7px; }

/*Hovering over any <li> element sets its background to yellow*/
li:hover { background-color: yellow; }

/*Creating a div with side-by-side panels*/
.panels {
  display: inline-flex;
  justify-content: space-between;
}

input{
  display: block;
}

input[type=text]:read-write.changed, input[type=number]:read-write.changed{
  border: 3px solid lightsalmon;
}

input[type=text]:read-write, input[type=number]:read-write{
  border: 3px solid lime;
}

#command_log {
    width: 100%;
    height: 40px;
    background: beige
}

/*Toggle background for clicked button*/
button[value="selected"] {
    background-color: lightblue;
}

#loading_overlay {
  background-color: rgba(0,0,0,0.5);
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
}

#loading_text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
}